* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Quicksand", sans-serif; */
    /* font-family: "Pacifico", cursive; */
}

body {
    color: #232121;
}

:hover a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    display: block;
}

#home {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
        url(../img/carousel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    height: 750px;
    background-attachment: fixed;
}

#home .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

#header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

#header .logo {
    padding: 25px 0;
}

#header .logo a {
    color: #ffffff;
    font-weight: 700;
}

#header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-family: "Quicksand", sans-serif;
}

#header .search-bar {
    position: relative;
}

input {
    color: #232121;
}

#header .search-input {
    padding: 25px 60px 25px 25px;
    height: 45px;
    font-size: 1.1rem;
    color: #5b606c;
    font-weight: 400;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    position: relative;
    right: 0;
}

#header .search-icon {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 17px;
}

#header .button i {
    display: inline-block;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    padding: 15px;
}

.carousel h1 {
    font-size: 3.7rem;
    font-weight: 600;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    line-height: 70px;
}

.carousel p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 30px;
    font-family: "Quicksand", sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.carousel .button {
    display: inline-block;
    position: relative;
}

.carousel .button-icon {
    color: #ffffff;
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 55px;
    transition: all 0.5s;
}

.btn-outline-primary {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 7px;
    position: relative;
    transition: all 0.5s;
}

.btn {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 15px 75px 15px 55px;
}

.btn-outline-primary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ff6600;
}

.carousel .button:hover .button-icon {
    color: #ff6600;
}

.carousel .button-icon #about .container {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about {
    background-color: #232121;
}

#about .container {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about .about-left h2 {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: #ff6600;
}

#about .about-left p {
    font-size: 2.7rem;
    font-weight: 600;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    line-height: 50px;
}

#about .about-right p {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #c2d0da;
    line-height: 30px;
}

.highlight {
    background-color: #ff6600;
}

.highlight .row {
    display: flex;
    flex-wrap: wrap;
}

.highlight .row .text {
    padding-left: 50px;
}

.highlight .row .sub {
    padding-left: 50px;
}

.align-items-center .section-inner {
    margin: 0;
    padding: 0;
}

.highlight .row .img {
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 500px;
}

.highlight .img::before {
    content: "";
    background: rgb(16, 15, 19/46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.highlight .row .text h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1;
    display: block;
    font-family: "Pacifico", cursive;
}

.highlight .row .text h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.highlight .row .text p {
    color: #ffdfc9;
}

.highlight .row .sub {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.highlight .row .sub_icon i {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
    background-color: #fff;
    color: #ff6600;
    line-height: 70px;
    font-size: 25px;
}

.highlight .row .sub_icon a {
    display: block;
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}

.highlight .row .sub_icon a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.highlight .row .sub_icon p {
    color: #ffdfc9;
}

.categories {
    background-color: #232121;
}

.categories h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.categories h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #eeeeee;
}

.categories .gal-slide-grid {
    position: relative;
    margin-bottom: 32px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.categories .item {
    position: relative;
}

.categories .item:after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    position: absolute;
    background: rgba(0, 0, 0, 0);
}

.categories .item img {
    display: block;
    margin: 0;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}

.categories .info {
    position: absolute;
    left: auto;
    bottom: 0;
    width: 95%;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}

.categories .info h4 {
    font-size: 18px;
    color: #fff;
}

.categories .gal-slide-grid .item:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    border-radius: 6px;
}

.categories img:hover {
    opacity: 0.85;
    transition: all 0.4s;
}

.categories .gal-slide-grid .info {
    opacity: 1;
    transition: all 0.4s;
}

.categories .content-left-sec a h4 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}

.categories .content-left-sec a:hover {
    text-decoration: none;
}

.categories .content-left-sec a:hover {
    color: #4f9da6;
}

.categories .content-left-sec h6 {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}

.categories .info p {
    font-weight: 600;
    color: #ffc600;
    font-size: 18px;
    letter-spacing: 1px;
}

#menu {
    background-color: #232121;
}

#menu .container {
    padding: 80px 0;
}

#menu .card-columns {
    column-gap: 30px;
}

#menu .card {
    border-radius: 0.5rem;
    margin-bottom: 25px;
    border: 1px solid #eeeeee;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: #232121;
}

#menu .card-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 20px;
}

#menu .card-bottom {
    text-align: left;
}

#menu .card-info {
    display: inline-block;
    text-align: left;
}

#menu .card-body {
    padding: 50px 40px;
}

#menu .card-icon {
    width: 70px;
    height: 70px;
    line-height: 45px;
    background-color: #f9f8ff;
    border: 1px solid transparent;
    color: #ff6600;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    transition: all 0.5s;
    display: inline-block;
}

#menu .pizza {
    font-size: 2.3rem;
}

#menu .card-info span {
    color: #5b606c;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0.4rem;
}

#menu .card-info h3 {
    color: #eeeeed;
    font-size: 1.7rem;
}

#menu .card-text {
    color: #5b606c;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 30px;
}

#menu .card-body:hover .card-icon {
    background-color: #ff6600;
    color: #ffffff;
}

#menu h3:hover {
    color: #ff6600;
    cursor: pointer;
}

#banner {
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #232121;
}

#banner .overlay {
    background: rgba(7, 10, 12, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#banner .container {
    padding-top: 130px;
    padding-bottom: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner .banner-title {
    margin-bottom: 45px;
    position: relative;
}

#banner .banner-title h3 {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

#banner .banner-button {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#banner .button-left,
#banner .button-right {
    display: inline-block;
    position: relative;
}

#banner .button-icon {
    color: #ffffff;
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 55px;
    transition: all 0.5s;
}

#banner .button-left {
    transition-duration: 0.8s;
}

#banner .button-left:hover .button-icon {
    color: #ff6600;
}

#banner .button-right {
    transition: 0.3s ease;
}

#banner .button-right .button-icon {
    color: #ffffff;
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 55px;
}

.button-right .btn-outline-primary {
    color: #ffffff;
    border: 2px solid #ff6600;
    border-radius: 7px;
    position: relative;
}

.button-right .btn {
    background-color: #ff6600;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 15px 75px 15px 55px;
}

#banner .button-right:hover {
    opacity: 0.8;
}


.video .main {
    background-color: #232121
}

.video .info {
    background: url(../img/banner3.jpg);
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 600px;
    border-radius: 6px;
}

.video .info::before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
}

.video span.video-play-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: #ff6600;
    border: transparent;
    color: #fff;
}

.video .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}

.video span.video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #ff6600;
    border: transparent;
    background: #fff;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

#statistics {
    position: relative;
    margin-top: -85px;
    z-index: 10;
    background-color: #232121;
}


#statistics .card {
    border: 1px solid #eeeeee;
    border-radius: 3%;
    box-shadow: 0 25px 98px 0 rgb(1 1 1 / 5%);
    background-color: #232121;
}

#statistics .card:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
        rgba(71, 63, 79, 0.16) 0px 5px 10px;
    transition: 0.3s ease;
}

#statistics .card-body {
    padding: 40px;
    text-align: center;
}

#statistics .card .card-title {
    font-size: 2.7rem;
    font-weight: 500;
    margin: 25px 0 10px 0;
    display: block;
    color: #eeeeee;
}

#statistics .card-text {
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #5b606c;
}

#statistics .card-logo {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    line-height: 70px;
    background-color: #ff6600;
    font-size: 1.7rem;
    color: #ffffff;
    display: inline-block;
}

#post {
    background-color: #232121;
}

#post .container {
    padding: 100px 0;
}

.post-title {
    margin-bottom: 50px;
    text-align: center;
}

.post-title h2 {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: #ff6600;
}

.post-title p {
    font-size: 2.7rem;
    font-weight: 600;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    line-height: 50px;
}

#post .card {
    border-radius: 3%;
    background-color: transparent;
    border: transparent;
}

#post .card-header {
    padding: 0;
    position: relative;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    overflow: hidden;
    background-color: transparent;
    border: transparent;
}

#post .card-header img {
    width: 100%;
    border-radius: 3%;
}

#post .img-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 180px;
    left: 10px;
}

#post .img-detail a {
    background-color: #ff6600;
    color: #ffffff;
    border-radius: 35px;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 3px 25px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.05em;
}

#post .detail-time {
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

#post .detail-time .icon {
    margin-right: 10px;
}

#post .card-body {
    padding: 20px 0;
}

#post .card-title {
    font-size: 1.6rem;
    line-height: 35px;
    color: #fff;
}

#post .card-text {
    color: #5b606c;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 30px;
}

#post .card-body-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#post .card-body-footer img {
    width: 50px;
    border-radius: 50px;
}

#post .user-name {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 10px;
}

#post .more-info span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
}

#post .more-info:hover span {
    color: #ff6600;
    cursor: pointer;
}

.testimonials {
    background-color: #232121;
}

.testimonials p {
    color: #eee;
}

.testimonials h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.testimonials h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #eee;
}


.testimonials .testimonial-content {
    max-width: 700px;
    margin: auto;
}

.testimonials .testi-des {
    display: flex;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonials blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: #eeee;
    font-weight: 600;
}

.testimonials a.comment-img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.testimonials blockquote q::before {
    font-size: 50px;
    color: #ff6600;
    display: block;
    font-family: initial;
}

.testimonials blockquote q::before {
    font-size: 50px;
    color: #ff6600;
    font-family: initial;
    margin-right: 10px;
}

.testimonials .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #232121;
    border-radius: 50%;
}

.testimonials .testimonial img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonials .testimonial .peopl {
    margin: 0;
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    align-items: center;
}

.testimonials .testimonial .peopl h3,
.testimonials .testimonial .people-info h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.testimonials p.indentity {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
    margin-top: 4px;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: none;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.owl-height {
    transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}



/**
    * Owl Carousel v2.3.4
    * Copyright 2013-2018 David Deutsch
    * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
    */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
    display: block;
}

.owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    background: none;
}

.owl-blog .owl-dots {
    display: none;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 18px;
    margin: 0px;
    width: 50px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
    outline: none;
    box-shadow: none;
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    text-align: center;
}

.w3l-portflioblock .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    text-align: center;
}

.w3l-blog-slider .owl-dots {
    text-align: center;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
    position: relative;
}

button.owl-next,
button.owl-prev {
    position: absolute;
    bottom: 50%;
}

button.owl-prev {
    left: 10px;
}

button.owl-next {
    right: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}

#footer {
    background-color: #000000;
}

#footer .container {
    padding: 70px 0 50px 0;
}

#footer .footer-main .logo-title {
    color: #ffffff;
    transition: all 0.7s;
}

.logo-title h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

#footer .footer-main .logo-title:hover {
    color: #ff6600;
}

#footer .footer-main p {
    color: #a29f9e;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 30px;
    margin: 25px 0;
}

#footer .footer-main .col-one {
    padding-right: 25px;
}

#footer .social-media-icon a {
    color: #ff6600;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.5s;
}

#footer .social-media-icon a:hover {
    color: #ffffff;
    background-color: #ff6600;
}

.footer-main .title {
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.list-group-item {
    background-color: transparent;
    color: #a29f9e;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding: 0.4rem 0;
    transition: all 0.8s;
}

.list-group-item:hover {
    color: #ff6600;
}

.footer-main .form-control {
    padding: 2rem 1rem;
    font-family: "Quicksand", sans-serif;
    color: #5b606c;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid #ff6600;
}

.footer-main .subscribe-button {
    background-color: #ff6600;
    border-radius: 0.5rem;
    transition: all 0.6s;
}

.subscribe-button button {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1.2rem;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:hover button {
    color: #ffffff;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright-left {
    font-family: "Quicksand", sans-serif;
    color: #dddddd;
    font-size: 1.2rem;
}

.copyright-left a {
    color: #ff6600;
}

.copyright-left a:hover {
    color: #ffffff;
}

.copyright-right a {
    color: #a29f9e;
    margin-right: 35px;
    font-size: 1.2rem;
}

.copyright-right a:hover {
    color: #ff6600;
}